
.cards__list {
  box-sizing: border-box;
gap: 20px;
flex-wrap: wrap;
display: flex;
}

.cards__item {
	transition: box-shadow 0.3s ease;
	border-radius: 16px;	
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	max-width: 280px;
}
@media (max-width: 940px){
	.cards__list{
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		gap: 10px;
	}
	
}
	
